<tr>
  <td><%= tower.rid %></td>
  <td><%= tower.city %></td>
  <td><%= tower.state %></td>
  <td><%= tower.location.name if tower.location %></td>
  <td><%= tower.sw_lat %></td>
  <td><%= tower.sw_lng %></td>
  <td><%= tower.ne_lat %></td>
  <td><%= tower.ne_lng %></td>
  <td><%= tower.center_lat %></td>
  <td><%= tower.center_lng %></td>
  <td><%= tower.est_sw_lat %></td>
  <td><%= tower.est_sw_lng %></td>
  <td><%= tower.est_ne_lat %></td>
  <td><%= tower.est_ne_lng %></td>
</tr>
